<h1>All Our Books</h1>

<%= link_to 'Add Book', new_book_path %>

<% @books.each do |book| %>
  <ul>
    <li><%= book.title %></li>
    <li><%= book.author %></li>
    <li><%= book.description %></li>
    <li><%= book.genre %></li>
    <li><%= book.year %></li>
    <li><%= link_to 'Edit', edit_book_path(book) %></li>
    <% if current_user.admin? %>
      <li><%= link_to 'Delete', book_path(book), method: :delete %></li>
    <% end %>
  </ul>
<% end %>